@font-face {
  font-family: "AntonCustom";
  src: url("../ShredAssests/fonts/pixel_operator/PixelOperatorSC-Bold.ttf")
    format("truetype");
}
@font-face {
  font-family: "AntonCustom2";
  src: url("../ShredAssests/fonts/futura-pt/FuturaCyrillicDemi.ttf")
    format("truetype");
}
body {
  height: 100vh;
  color: #fff;
  background: rgb(0, 0, 0);
  background-size: 300% 300%;
  animation: slowFlow 30s ease-in-out infinite;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 0;
  padding-right: 0;
}

html {
  scroll-behavior: smooth;
}
